@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
       
        <p class="display-3">Element with text of your choosing.</p>
        <form method="post" action="/Home/OnPost"><button class=" display-4 btn btn-default">Click for Time</button></form>
    </div>
